:host {
  display: block;
  height: 100%;
  width: 100%;
  padding: 0 20px;
}

.container {
  height: calc(100% - 48px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.col {
  min-width: 0;
}
