.menu-toolbar {
  background-color: var(--mat-sys-primary-container);

  .logo {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 20px;
  }

  .active-button {
    background-color: var(--mat-sys-primary);
    color: white;
  }

  .menu-buttons button {
    margin-right: 10px;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .menu-right {
    display: flex;
    align-items: center;

    button {
      margin-left: 10px;
      position: relative;
    }
  }
}
